# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/
.venv/
.env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

# IDE settings
.idea/
.vscode/
